.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid black;
  height: 300px;
  width: 300px;
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  position: relative;
}

.ml {
  margin-left: 10px;
}

/*---------- Question - 2 ----------*/

.product-name {
  font-weight: bold;
  color: rgb(36, 109, 192);
}

.product-price {
  font-style: italic;
  color: rgb(43, 236, 43);
  margin-top: 10px;
}

/*---------- Question - 3 ----------*/

.userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-number {
  font-weight: 700;
  position: absolute;
  top: 5px;
}

/*---------- Question - 4 ----------*/

.long-card {
  width: 500px;
  padding: 0.5em;
  font-size: 1rem;
}

.longer-card {
  width: 550px;
  padding: 0.5em;
  font-size: 1rem;
}

.list-item {
  margin: 2px 0;
  padding-left: 5px;
  font-size: 0.9rem;
}

/*---------- Question - 5 ----------*/

/*---------- Question - 6 ----------*/

.article-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.article-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 0.8em;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 0.8em;
}

.btn-article {
  margin-left: 10px;
}

.article-content {
  width: 80%;
  font-size: 0.9em;
}

.about-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*---------- Question - 8 ----------*/

.product-card {
  width: 500px;
  height: auto;
  padding: 0.5em;
  font-size: 1rem;
}

.product-list {
  margin-top: 40px;
}

/*---------- Question - 9 ----------*/

.color-hex {
  font-size: 0.9rem;
}

.btn-color {
  margin: 5px 0;
}

.colors-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/*---------- Question - 10 ----------*/

.todo-heading {
  font-size: 1.2rem;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(196, 194, 194);
}

/*-----------------------------------*/
/*-----------   SetThree    ---------*/
/*-----------------------------------*/

.heading {
  font-size: 1.1rem;
  font-weight: bold;
}

/*---------- Question - 3 ----------*/

.cartoon-list {
  border: 2px solid orange;
  padding: 0.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 0.8rem;
}
